<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" parallel="tests">
  <parameter name="url" value="https://jsonplaceholder.typicode.com/"/>
  <test name="Test">
    <classes>
      <class name="PostsTest"/>
    </classes>
  </test>
</suite>